@{
    ViewData["Title"] = "Index";
}

<h2>SALA 1: ADIVINA EL ESCUDO</h2>
<h4>Descubre cuál es el nombre de cada equipo, y ANOTÁ LAS SIGUIENTES LETRAS para completar el desafío:</h4>
<ul>
    <li>La primer letra del primer equipo</li>
    <li>2da letra del segundo equipo</li>
    <li>6ta letra del tercer equipo</li>
    <li>3er letra del cuarto equipo</li>
    <li>1er letra del quinto equipo</li>
</ul>

<iframe allow="fullscreen; autoplay;" allowfullscreen width="795" height="690" frameborder="0" src="https://es.educaplay.com/juego/19658587-adivina_el_escudo.html"></iframe>

<form action='@Url.ActionLink("Habitacion", "Home")' method="GET">
    <input type="hidden" name="sala" value=1>
<input type="text" name="clave" value="Ingresar respuesta">
<input type="submit" value="Enviar respuesta">
</form>