@{
    ViewData["Title"] = "Sala 4";
}
<div class = "habitacion">
<h3 style="Color:red;">@ViewBag.Error</h3> 
<h2>SALA 4: CRUCIGRAMA</h2>
<h4>Completa el crucigrama, y poné las letras que te pide a continuación</h4>
<ul>
    <li>2da letra palabra 1</li>
    <li>3er letra palabra 2</li>
    <li>2da letra palabra 3</li>
    <li>2da letra palabra 4</li>
    <li>2da letra palabra 5</li>
    <li>6ta letra palabra 6</li>
    <li>5ta letra palabra 7</li>
    <li>6ta letra palabra 8</li>
    <li>Última letra palabra 9</li>
    <li>4ta letra palabra 10</li>
    <li>6ta letra palabra 11</li>
    <li>1ra letra palabra 12 </li>
    <li>1ra letra palabra 13 </li>
    <li>1ra letra palabra 14 </li>
    <li>3er letra palabra 15</li>
    <li>2da letra palabra 16</li>
    <li>2da letra palabra 17</li>
</ul>

<iframe allow="fullscreen; autoplay;" allowfullscreen width="795" height="690" frameborder="0" src="https://es.educaplay.com/juego/19639463-crucigrama_de_futbol_mundial.html"></iframe><br/>
<button class="pista" onclick="alert('Pista: Para descubrir la respuesta, podes usar Google')"> Pista </button>

<form action='@Url.ActionLink("Habitacion", "Home")' method="POST">
    <input type="hidden" name="sala" value=4>
<input class="caja" type="text" name="clave" placeholder="Ingresar respuesta">
<input class="rta" type="submit" value="Enviar">
</form>
</div>