@{
    ViewData["Title"] = "Index";
}
<div class = "habitacion">
<h3 style="Color:red;">@ViewBag.Error</h3> 
<h2>SALA 2: SI O NO</h2>
<h4>Cuenta la cantidad de respuestas "SI", y poné el número abajo</h4>

<iframe allow="fullscreen; autoplay;" allowfullscreen width="795" height="690" frameborder="0" src="https://es.educaplay.com/juego/19639378-si_o_no_de_el_futbol_y_la_seleccion_argentina.html"></iframe>
<button class="pista" onclick="alert('Pista: ')"> Pista escudo 2 </button>

<form action='@Url.ActionLink("Habitacion", "Home")' method="POST">
    <input type="hidden" name="sala" value=2>
<input class="caja" type="text" name="clave" placeholder="Ingresar respuesta">
<input class="rta" type="submit" value="Enviar">
</form>
</div>