@{
    ViewData["Title"] = "Index";
}

<div class = "habitacion">
<h3 style="Color:red;">@ViewBag.Error</h3> 
<h2>SALA 1: ADIVINA EL ESCUDO</h2>
<h4>Descubre cuál es el nombre de cada equipo, y ANOTÁ LAS SIGUIENTES LETRAS para completar el desafío:</h4>
<ul>
    <li>La primer letra del primer equipo</li>
    <li>2da letra del segundo equipo</li>
    <li>6ta letra del tercer equipo</li>
    <li>3er letra del cuarto equipo</li>
    <li>1er letra del quinto equipo</li>
</ul>

<iframe allow="fullscreen; autoplay;" allowfullscreen width="795" height="690" frameborder="0" src="https://es.educaplay.com/juego/19658587-adivina_el_escudo.html"></iframe><br/>

<button class="pista" onclick="alert('Pista: El equipo disputa la Bundesliga, y su estadio es el `Baden-Wurtemberg´')"> Pista escudo 1 </button>
<button class="pista" onclick="alert('Pista: El equipo italiano del que hablamos disputa la `Serie B´, y jugó este jugador: https://www.transfermarkt.com.ar/santiago-ascacibar/leistungsdatenverein/spieler/423436')"> Pista escudo 2 </button>
<button class="pista" onclick="alert('Pista: El equipo disputa la `Ligue 2´ y es parte del `City Group´')"> Pista escudo 3 </button>
<button class="pista" onclick="alert('Pista: Disputa la `Premier League´, y es el equipo en el que juega Mateta')"> Pista escudo 4 </button>
<button class="pista" onclick="alert('Pista: Este escudo pertenece a un equipo español que disputará la Europa League')"> Pista escudo 5 </button>

<form  action='@Url.ActionLink("Habitacion", "Home")' method="POST">
    <input type="hidden" name="sala" value=1>
<input class="caja" type="text" name="clave" placeholder="Ingresar respuesta">
<input class="rta" type="submit" value="Enviar">
</form>
</div>