@{
    ViewData["Title"] = "Tutorial";
}

<div class="tutorial"> 
    <h3>Nuestra tematica que elegimos para llevar acabo la sala de escape es el futbol. A lo largo del recorrido de la pagina vas a encontrar diferentes juegos como un crucigrama, un froogy, etc. donde para avanzar a la siguiente sala vas a tener que completarlos y prestar atencion a lo resuelto para luego al final completar una ultima incognita sobre la sala para escapar.</h3>
    <h1>Juegos:</h1>
    <h2>Adivina el escudo:</h2>
    <h4>En este juego se te van a presentar imágenes pixeladas de distintos equipos de alrededor del mundo, los cuales vas a tener que adivinar. Las imágenes que se te van a mostrar son como la siguiente:</h4>
    <img src="/img/EscudoTutorial.png" alt="escudoPixel">

    <h2>Si o No de el futbol:</h2>
    <h4>En este juego se te van a presentar imágenes con distinas teorías del futbol, donde vas a tener que decir si son verdaderas o falsas.</h4>
    <img src="/img/arg.png" alt="adivinanza">

    <h2>Froggy:</h2>
    <h4>En este juego te va a aparecer una adivinanza y se te van a presentar 3 distinos saltos para el sapo, donde en cada uno hay una opción diferente con tan solo 1 respuesta correcta. A medida que adivines, el sapo irá avanzando hasta la meta.</h4>
    <img src="/img/froggy.png" alt="froggy">

    <h2>Crucigrama:</h2>
    <h4>En este juego vas a tener que completar un crucigrama con la tematica del futbol mundial.</h4>
    <img src="/img/crucigrama.png" alt="crucigrama">

    <h2>Pasapalabra:</h2>
    <h4>En este juego va a haber una rosca con el abecedario y encima de el va a ver un texto, con respuesta de una sola palabra con la respectiva letra inicial del rosco, tendras que leer el texto y adivinar la respuesta con dicha letra inical.</h4>
    <img class="imagenFooter" src="/img/pasapalabras.png" alt="pasapalabra">
</div>

