@{
    ViewData["Title"] = "Index";
}

<h3>MUCHAS FELICIDADES, GANASTE!!!</h3>
<img class="gif-animado" src="../img/gif-victoria.gif"><br/>
<a class="navbar-brand" href='@Url.Action("Index")'><button type="button" class="btn btn-primary">Volver a la home</button></a>