html {
  font-size: 14px;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  margin: 10px;
  padding: 10px;
 
}
*
{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.index
{
  background-color: lightgrey;
}
.index h1
{
    margin-top: 0.5%;
    border: 1px solid black;
    margin-left: 43%;
    margin-right: 43%;
    border-radius: 6px;
    background-color: gray;
    text-align: center;
    font-weight: bold;
}
.index p
{
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 0.4px solid black;
  border-radius: 5px;
  margin-left: 40%;
  margin-right: 40%;

}
.index h3
{
  margin-top: 0.4%;
  border: 0.5px solid black;
  font-weight: bold;
  margin-left: 37%;
  margin-right: 37%;
  background-color: gray;
  border-radius: 3px;
}
.index img
{
  border: 3px solid lightgray;
  border-radius: 3px;
}
.tutorial
{
  background-color: lightgray;
}
.tutorial h3
{
  border: 1px solid black;
  background-color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  border-radius: 5px;
}
.tutorial h1
{
  text-align: center;
  border: 1px solid black;
  background-color: lightcyan;
  border-radius: 5px;
  margin-left: 45%;
  margin-right: 45%;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  
}
body
{
  border: 0.3px solid black;
}
.tutorial img
{
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 25px;
  height: 200px;
  width: 200px;
  border: 0.5px solid black;
}
.tutorial h2
{
  text-decoration: underline;
  font-weight: bold;

}
footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}
.creditos
{
  background-color: lightgray;
}
.creditos h1
{
  border:0.3px solid black;
  border-radius: 3px;
  background-color: grey;
  margin-left: 37%;
  margin-right: 37%;
}
.creditos h2
{
font-weight: bold;}
#carouselExampleDark
{
  width: 50%;
  height: auto;
  margin-left: 25%;
}
header img
{
  width: 40px;
  height: 40px;
}
header .nav-link
{
  border: 0.5px solid black;
  border-radius: 5px;
  background-color: lightblue;
  text-align: center;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 10px; 
}
header .nav-link:hover
{
  transition: background-color 3.5s ease;
  background-color: #1c3055;
}
.creditos h2
{
  border: 0.5px solid black;
  border-radius: 3px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  background-color: gray;
}
.creditos img
{
  height: 350px;
}
.card
{
  margin-left: 25%;
}
.habitacion
{
  background-color: lightgray;
}
.habitacion h2
{
  border: 0.5px solid black;
  border-radius: 3px;
  background-color: gray;
  margin-left: 37%;
  margin-right: 37%;
}
.habitacion h4
{
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.habitacion ul
{
  border: 0.5px solid black;
  background-color: gray;
  border-radius: 5px;
  margin-left: 30%;
  margin-right: 30%;
}
.habitacion li
{
  font-weight: bold;
}
.habitacion .caja
{
  margin-bottom:1%;
  margin-top: 1%;
  border-radius: 3px;
}
.habitacion .rta
{
  border-radius: 1px;
  font-weight: bold;
}
.habitacion .rta:hover
{
  transition: background-color 3s ease;
  background-color: gray;
}
.gif-animado
{
  width: 50%;
  height: auto;
}
.victoria
{
  background-color: lightblue;
}
.victoria h3
{
  border: 0.5px solid black;
  border-radius: 3px;
  margin-left: 25%;
  margin-right: 25%;
  font-weight: bold;
}
.victoria img
{
  margin-bottom: 1%;
}
.victoria .boton
{
  margin-bottom: 1%;
  padding: 0.2%;
  padding-left: 0.4%;
  padding-right: 0.4%;
  border-radius: 4px;
  font-weight: bold;
  background-color: lightblue;
}
.victoria .boton:hover
{
  transition: background-color 3.5s ease;
  background-color: #fdd601 ;
}





